<!-- /.modal -->
        
        <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>interMeet</h2>
                        <p>Beta 1.0</p>
                        <hr>
                        <p>Shuming Cao</p>
                        
                        <p>Changtong Qiu</p>
                        
                        <p>Xinyuan Zhang</p>
                        <hr>
                        <p>Email: <a href="ccbbtest@gmail.com">ccbbtest@gmail.com</a></p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
       
        <div class="modal fade" id="modalParticipants" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="width: 80%">
                
                <div class="modal-content">
                    <div class="modal-header text-left">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Participants</h4>
                    </div>
                    <div class="wrapper modal-wrapper main-box no-header clearfix">
                        <div class="main-box-body clearfix ">
                            <div class="table-responsive">
                                <table class="table user-list text-left">
                                    <tbody>
                                        {{#each user}}
                                        <tr>
                                            <td>
                                                <a href="#" class="user-link">{{this.firstname}} {{this.lastname}}</a>
                                                <span class="user-subhead">Member</span>
                                            </td>
                                            <td style="width: 20%;"><!--
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>-->
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
                                    {{#each polling}}
                                    {{#unless this.deleted}}
                                    {{#unless ../../thisSession.join}}
                                        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document" style="width: 80%">
                                                <div class="modal-content">
                                                  <div class="row text-center">
                                                    <h2>Do you want to delete this polling?</h2>   
                                                  </div>
                                                  <div class="row text-center">
                                                    <p>"{{ ../../title }}"</p>
                                                  </div>
                                                  <a id="delete{{../../id}}" class="home-dialog-button home-delete-polling-button" href="#"><button type="button" class="btn btn-dialog" data-dismiss="modal" aria-label="Close">Delete</button></a>   
                                                  <a class="home-dialog-button" href="#"><button type="button" class="btn btn-dialog" data-dismiss="modal" aria-label="Close" onclick="deleteCancelClick();">Cancel</button></a>
                                                  <div class="row" style="height: 20px"></div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                    {{/unless}}
                                    {{/unless}}
                                    {{/each}}