		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header header-cover" style="background-repeat:no-repeat;
background-size:contain; padding-top: 0">
                  <div style="padding: 0px 15px 0px 30px; margin-top: 0;">
                    <div style="height: 25px"></div>
                    <h2 style="color: white !important; margin-top: 0;"><b>
                      interMeet</b>
                    </h2>
                    <br>
                    <p style="font-size: 18px !important;" onclick="nameClick();">
                      <b>{{thisSession.firstname}} {{thisSession.lastname}}</b>
                    <br>
                      Meeting {{thisSession.code}}
                    </p>
                  </div>
                </div>
              	
                <li>
                    <a href="/home">Pollings</a>
                </li>
                {{#unless thisSession.join}}
                <li>
                    <a href="/newpolling"  onclick="createPollingSidebar();">Create polling</a>
                </li>
                {{/unless}}
                <li>
                    <a data-toggle="modal" href="#modalParticipants" onclick="participantsClick();">Participants</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#modalAbout">About</a>
                </li>
                
				<li>
					<a href="#" id="leave-meeting">Exit</a>
				</li>
            </ul>
        </nav>