<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>interMeet</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,400,500' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/sidebar.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="overlay"></div>


        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                       interMeet
                    </a>
                </li>
   
                <li>
                    <a data-toggle="modal" href="#modalAbout">About</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#modalContact">Contact</a>
                </li>
            </ul>
        </nav>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <nav class="navbar navbar-default" style="border-bottom: 3px solid white" id="fixtop">
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">interMeet</a>
              </div>
            </nav>
            <div class="create-wrapper">
              
              <div class="input-container container">

                <form id="create-form" method="post" action="/home">
                  <div class="text-section">
                    <div class="create-text-md create-header">
                      Code
                    </div>
                    <div class="create-text-md create-code">
                      {{code}}
                    </div>
                  </div>
                  <div class="form-group has-feedback text-section" id="firstname-create-form-group">
                    <label class="create-label">First name</label>
                    <input type="text" class="form-control" id="create-input-firstname" name="user[firstname]" aria-describedby="inputError2Status">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                  </div>
                  <div style="height: 20px"></div>
                  <div class="form-group has-feedback text-section" id="lastname-create-form-group">
                    <label class="create-label">Last name</label>
                    <input type="text" class="form-control" id="create-input-lastname" name="user[lastname]" aria-describedby="inputError2Status">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                  </div>
                </form>
                <div class="row container btn-section">
                  <div class="col-xs-6 text-center">
                    <a href="#" id="create-meeting-cancel-button" class="btn btn-common-create btn-common btn-xl page-scroll">Cancel</a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <a href="#" id="create-meeting-next-button" class="btn btn-common-create btn-common btn-xl page-scroll">Next</a>
                  </div>
                </div>
                <div style="height: 20px"></div>

              </div>

            </div>
        </div>
        <!-- /.modal -->
        
         {{> modal}}
        
    </div>

    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/sidebar.js"></script>

    <script type="text/javascript">
      document.ontouchmove = function(e) {
        e.preventDefault();
      }
    </script>
</body>

</html>