<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>interMeet</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,400,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/sidebar.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a>{{thisSession.firstname}} {{thisSession.lastname}}</a>
                </li>
                <li>
                    <a>Meeting {{thisSession.code}}</a>
                </li>
                <li>
                    <a href="./home">Home</a>
                </li>
                <li>
                    <a href="./newpolling">Create polling</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#modalAbout">About</a>
                </li>
                <li>
                    <a href="./team.html">Contact</a>
                </li>
				<li>
					<a href="#" id="leave-meeting">Leave meeting</a>
				</li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <nav class="navbar navbar-default" id="fixtop">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">interMeet</a>
                </div>
            </nav>
            <div class="wrapper items-wrapper">
                <div class="container card-container">

                    <div class="new-polling-error-info" id="error-message">
                    </div>

					<form method="POST" id="polling-create-form" name="pollingCreateForm" action="/polling">
						<div class="input-group text-section">
                          <div class="polling-text-md create-header">
                            Create new polling
                          </div>
                          <div class="polling-text-sm create-header">
                            Title
                          </div>
                          <div class="col-xs-12">
                            <div class="polling-text-sm input-short container-fluid">
                              <input id="polling-create-title" name="pollingTitle" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="input-group text-section">
                          <div class="polling-text-sm create-header">
                            Description
                          </div>
                          <div class="col-xs-12">
                            <div class="polling-text-sm input-short container-fluid">
                              <input id="polling-create-description" name="pollingDescription" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="input-group text-section">
                          <div class="polling-text-sm create-header">
                            Option 1
                          </div>
                          <div class="col-xs-12">
                            <div class="polling-text-sm input-short container-fluid">
                              <input id="polling-create-option0" name="pollingOption0" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="input-group text-section">
                          <div class="polling-text-sm create-header">
                            Option 2
                          </div>
                          <div class="col-xs-12">
                            <div class="polling-text-sm input-short container-fluid">
                              <input id="polling-create-option1" name="pollingOption1" type="text">
                            </div>
                          </div>
                        </div>
					</form>	
					<a class="polling-text-md" id="polling-create-add" onclick="pollingAdd()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
					<a class="polling-text-md" id="polling-create-minus" onclick="pollingRemove()" hidden>
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</a>
					<br>
					
                    <div class="row container text-center">
                        <a href="#" id="polling-submit-button" class="btn page-scroll">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>interMeet</h2>
                        <p>Alpha 1.0</p>
                        
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>

    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/sidebar.js"></script>

</body>

</html>